        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        a {
            text-decoration: none;
            transition: all .4s ease-in-out;
            color: inherit;
        }
        
        a,
        button,
        input[type="button"] {
            cursor: pointer;
            transition: all .5s ease-in-out;
        }
        
        a:focus,
        a:hover {
            text-decoration: none;
            color: inherit;
        }
        
        h6 {
            font-size: 13px;
        }
        
        h5 {
            font-size: 15px;
        }
        
        article,
        aside,
        dialog,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        main,
        nav,
        section {
            position: relative;
        }
        
        .card .btn-link {
            color: #212121;
            background-color: transparent;
            font-weight: 600;
            font-size: 13px;
            text-decoration: none;
            display: block;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .card .btn-link i {
            font-size: 27px;
            width: 27px;
            height: 27px;
            color: #666;
            transition: all .5s ease-in-out;
        }
        
        .card .btn-link[aria-expanded="true"] i {
            transform: rotate(-90deg);
        }
        
        .card {
            border: none;
            margin-bottom: 20px;
        }
        
        .card-header {
            padding: 8px;
            margin-bottom: 0;
            background-color: rgba(0, 0, 0, .03);
            border-bottom: 1px solid rgba(0, 0, 0, .125);
            border: 1px solid #eee;
        }
        
        button {
            background: transparent;
            border: none;
        }
        
        button:focus {
            outline: none
        }
        
        .list-inline-item:not(:last-child),
        ul {
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
            transition: all .4s ease-in-out;
            margin: 0;
        }
        
        ul li {
            list-style-type: none
        }
        
         :focus {
            outline: none;
        }
        
        img {
            max-width: 100%;
        }
        
        .text-center {
            text-align: center;
        }
        
        .text-right {
            text-align: right
        }
        
        .text-left {
            text-align: left
        }
        
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        
        .padd-0 {
            padding-left: 0;
            padding-right: 0
        }
        
        .padd-5 {
            padding-left: 5px;
            padding-right: 5px
        }
        
        .sec-padd {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .pl-10 {
            padding-left: 10px;
        }
        
        .pr-10 {
            padding-right: 10px;
        }
        
        .pt-10 {
            padding-top: 10px;
        }
        
        .pb-10 {
            padding-bottom: 10px !important;
        }
        
        .pl-20 {
            padding-left: 20px !important;
        }
        
        .pr-20 {
            padding-right: 20px !important;
        }
        
        .pt-20 {
            padding-top: 20px !important;
        }
        
        .pb-20 {
            padding-bottom: 20px !important;
        }
        
        .ml-10 {
            margin-left: 10px !important;
        }
        
        .mr-10 {
            margin-right: 10px !important;
        }
        
        .mt-10 {
            margin-top: 10px !important;
        }
        
        .mb-10 {
            margin-bottom: 10px !important;
        }
        
        .ml-20 {
            margin-left: 20px !important;
        }
        
        .mr-20 {
            margin-right: 20px !important;
        }
        
        .mt-20 {
            margin-top: 20px !important;
        }
        
        .mb-20 {
            margin-bottom: 20px !important;
        }
        
        .m-20 {
            margin: 20px;
        }
        
        .m-10 {
            margin: 10px;
        }
        
        .p-15 {
            padding: 15px;
        }
        
        .r-0 {
            border-radius: 0 !important;
        }
        
        .p-0 {
            padding: 0 !important;
        }
        
        .f-b {
            font-weight: 600;
        }
        
        .f-n {
            font-weight: 500;
        }
        
         :focus {
            box-shadow: none !important;
            border-color: inherit;
        }
        
        textarea {
            min-height: 100px;
            resize: none;
        }
        
        .flex-c {
            flex-direction: column;
        }
        
        .d-none {
            display: none
        }
        
        .d-block {
            display: block
        }
        
        .owl-carousel {
            direction: ltr
        }
        
        .dropdown-toggle::after {
            display: none
        }
        
        .dropdown {
            display: inline-block;
        }
        
        .dropdown-menu {
            float: none;
            text-align: start;
        }
        
        .title {
            margin: 20px 0;
        }
        
        .title h6 {
            font-size: 14px;
            font-weight: 600;
        }
        
        .title p {
            font-size: 13px;
            color: #999;
            margin-bottom: 10px;
            text-align: justify;
        }
        
        select.form-control:not([size]):not([multiple]) {
            height: auto;
        }
        
        .select2-container--default .select2-selection--single {
            background-color: transparent;
            border: navajowhite;
            border-radius: 4px;
            height: auto;
        }
        
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 50%;
            left: 0;
            right: unset;
            transform: translateY(-50%);
        }
        
        .select2-container .select2-selection--single .select2-selection__rendered {
            padding: 0;
        }
        
        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #b1953a;
            color: white;
        }
        
        .select2-dropdown {
            border: 1px solid #f5f5f5;
            box-shadow: 0 0 5px #ccc;
        }
        
        .select2-container--default .select2-search--dropdown .select2-search__field {
            border: 1px solid #e6e0e0;
        }
        
        select option[aria-selected] {
            background-color: #b1953a;
            color: white;
        }
        
        select.form-control,
        .select2-container.form-control {
            height: 31px !important;
        }
        
        option:hover {
            background-color: var(--main) !important;
            color: #fff;
        }
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        p {
            margin: 0;
        }
        
        input[type=checkbox],
        input[type=radio] {
            position: relative;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            transform: scale(.7);
            overflow: hidden;
            border-radius: 3px;
        }
        
        .product-addition input[type=radio] {
            border-radius: 10px;
        }
        
        input[type=checkbox]:before,
        .product-additions input[type=radio]:before {
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #eee;
            content: "";
            position: absolute;
            background: #eee;
            border-radius: 4px !important;
        }
        
        input[type=checkbox]:checked::before,
        .product-additions input[type=radio]:checked:before {
            background: var(--main);
            border: 1px solid var(--main);
        }
        
        input[type=checkbox]:checked::after,
        .product-additions input[type=radio]:checked::after {
            background: transparent;
            border: 2px solid #fff;
            top: 0px;
            left: 7px;
            width: 7px;
            height: 15px;
            /* border: 1px solid #000; */
            content: "";
            position: absolute;
            border-top-color: transparent;
            border-left-color: transparent;
            transform: rotate(45deg);
            border-radius: 0px !important;
        }
        
        input[type=radio]:before {
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid var(--main);
            content: "";
            position: absolute;
            background: #fff;
            border-radius: 50%;
        }
        
        input[type=radio]:checked::after {
            top: 50%;
            left: 50%;
            width: 12px;
            height: 12px;
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            background: var(--main);
            border-radius: 50%;
        }
        
         :root {
            --main: #B1953A;
            --white: #fff;
            --gray: #A8A8A8;
            --black: #000;
        }
        
        .main-color {
            color: var(--main) !important;
        }
        
        .gray-color {
            color: #999 !important;
        }
        
        .red-color {
            color: #f00;
        }
        
        .bg-gray {
            background: #f5f5f5;
        }
        
        .black-color {
            color: var( --black) !important
        }
        
        .font-18 {
            font-size: 18px;
        }
        
        .font-20 {
            font-size: 20px;
        }
        
        .under-line {
            text-decoration: underline;
        }
        
        .rating {
            color: #999;
        }
        
        .rating i.active {
            color: #FFC107;
        }
        
        @font-face {
            font-family: "myFont";
            src: url(../fonts/Fairuz-Normal.otf);
        }
        
        .btn-black {
            color: #fff;
            background-image: linear-gradient( -13deg, #393939, #000000);
            padding: 12px 20px;
            width: 180px;
            border-radius: 8px;
            margin: 14px auto;
            display: block;
            font-size: 12px;
        }
        
        .btn-main {
            background: var(--main);
            text-align: center;
            width: 140px;
            border-radius: 26px;
            padding: 13px;
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            position: relative;
            border: 1px solid var(--main);
            display: inline-block;
        }
        
        .btn-small {
            width: 92px;
            padding: 7px 5px;
        }
        
        .btn-small::before,
        .btn-small::after {
            display: none !important;
        }
        
        .btn-main.btn-main-w {
            color: var(--main);
            background: #fff;
        }
        
        .btn-main i {
            font-size: 20px;
            vertical-align: middle;
        }
        
        .btn-main::after {
            width: 20px;
            height: 1px;
            background: var(--main);
            content: "";
            position: absolute;
            left: -20px;
            top: 49%;
        }
        
        .btn-main::before {
            width: 8px;
            height: 8px;
            border: 1.6px solid var(--main);
            content: "";
            position: absolute;
            left: -20px;
            top: calc(50% - 4px);
            transform: rotate(45deg);
            border-right: navajowhite;
            border-top: navajowhite;
        }
        
        .btn-main:hover {
            background: #fff;
            color: var(--main);
        }
        
        body {
            direction: rtl;
            text-align: right;
            font-family: "myFont";
            background: #fff;
            color: #000;
            font-size: 13px
        }
        
        .star-rating {
            font-size: 20px;
            color: #999;
        }
        
        .star-rating .fa-star {
            color: #FFB119;
        }
        /* =================== start header================================ */
        
        .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 9;
        }
        
        .menu {
            background: url(../imgs/header-bg.png);
            z-index: 9;
            transition: all 0.3s ease-in-out;
            background-size: 100% 100%;
            color: #fff;
        }
        
        .menu .menu-content {
            position: relative;
            padding: 5px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #eee;
        }
        
        .menu .logo {
            position: relative;
            z-index: 100;
            top: 0;
            width: 150px;
            transition: all 0.3s ease-in-out;
        }
        
        .logo img {
            width: auto;
            height: auto;
            max-height: 85px;
        }
        
        .logo img.logo2 {
            display: none;
        }
        
        .top-links i {
            font-size: 18px;
        }
        
        .menu .nav-links {
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;
        }
        
        .menu .nav-links>ul {
            display: flex;
            align-items: center;
        }
        
        .menu .nav-links>ul>li {
            margin: 0 15px;
            font-size: 14px;
            transition: all 0.3s ease-in-out;
            position: relative;
        }
        
        .menu .nav-links>ul>li.hide {
            display: none;
        }
        
        .menu .nav-links>ul>li>a {
            position: relative;
            color: #020202;
            font-size: 12px;
            padding-bottom: 5px;
            transition: all 0.3s ease-in-out;
            font-weight: 600;
            border-bottom: 2px solid transparent;
        }
        
        .btn-search {
            z-index: 11;
        }
        
        .menu .nav-links>ul>li.active>a {
            color: var(--main);
            border-color: 2px solid var(--main);
        }
        
        .mob-collaps {
            position: relative;
            width: 25px;
            height: 50px;
            z-index: 99;
            color: rgb(255, 255, 255);
            cursor: pointer;
            display: none;
            transition: all 0.3s ease-in-out;
        }
        
        .mob-collaps span {
            display: block;
            width: 20px;
            height: 2px;
            background-color: var(--main);
            border-radius: 30px;
            margin: 4px 0;
        }
        
        .mob-collaps span:first-child {
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            margin: auto;
            -webkit-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }
        
        .mob-collaps span:first-child.rotate {
            width: 24px;
            -webkit-transform: rotate(-45deg) rotateY(360deg);
            -ms-transform: rotate(-45deg) rotateY(360deg);
            -moz-transform: rotate(-45deg) rotateY(360deg);
            transform: rotate(-45deg) rotateY(360deg);
            -webkit-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }
        
        .mob-collaps span:nth-child(2) {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 27px;
            opacity: 1;
            -webkit-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }
        
        .mob-collaps span:nth-child(2).none {
            left: -100px;
            opacity: 0;
            -webkit-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }
        
        .mob-collaps span:nth-child(3) {
            position: absolute;
            top: 34px;
            left: 0;
            right: 0;
            margin: auto;
            -webkit-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }
        
        .mob-collaps span:nth-child(3).rotate2 {
            width: 24px;
            -webkit-transform: rotate(45deg) rotateY(360deg);
            -ms-transform: rotate(45deg) rotateY(360deg);
            -moz-transform: rotate(45deg) rotateY(360deg);
            transform: rotate(45deg) rotateY(360deg);
            top: 20px;
            -webkit-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }
        /*============================ end  header================================== */
        
        .login-content {
            background: var(--main);
            width: 100%;
            min-height: 100vh;
            color: #fff;
        }
        
        .loginform {
            width: 550px;
            margin: auto;
            padding: 50px 20px;
            text-align: center;
            max-width: 100%;
        }
        
        .loginform h3 {
            font-size: 13px;
            margin: 15px;
            font-weight: 600;
        }
        
        .loginform p {
            font-size: 12px;
            text-align: center;
            width: 330px;
            margin: 0 auto 15px auto;
            max-width: 100%;
        }
        
        label {
            display: block;
            text-align: start;
            margin-bottom: 0;
            font-weight: 600;
        }
        
        .contact-form label {
            background: #fff;
            margin: 0px 6px;
            padding: 4px 10px;
            display: inline-block;
            text-align: start;
        }
        
        .form-control:focus {
            color: var(--main);
            background-color: inherit;
            border-color: var(--main);
            outline: 0;
        }
        
        textarea.form-control~label {
            background-color: #fff;
        }
        
        .form-control {
            width: 100%;
            background: transparent;
            border: none;
            border-color: transparent;
            border-bottom: 2px solid #eee;
            padding: 5px 10px;
            border-radius: 0;
            color: #6F6F6F;
            font-size: 13px;
        }
        
        textarea.form-control {
            border: 2px solid #eee;
            padding: 10px;
            margin-top: -10px;
            min-height: 200px;
        }
        
        .loginform .form-control {
            color: #fff;
            padding: 4px 0px;
        }
        
        .form-group {
            margin-bottom: 1.5rem;
        }
        
        .loginform p {
            color: #fff;
        }
        
        .top-links {
            display: flex;
        }
        
        .top-links .top-link {
            font-size: 12px;
            margin: 0 4px;
            padding: 3px;
            color: #020202;
            font-weight: 600;
            white-space: nowrap;
            width: 30px;
            display: inline-block;
            padding: 5px 0;
            line-height: 30px;
            height: 30px;
            margin: 0 6px;
            text-align: center;
            position: relative;
        }
        
        .top-links .top-link::after {
            width: 1px;
            height: 25px;
            background: #eee;
            left: -5px;
            content: "";
            top: 7px;
            position: absolute;
        }
        
        .top-links .top-link.active {
            background: var(--main);
            border-radius: 50%;
            text-align: center;
            margin-top: 5px;
        }
        
        .top-link.dropdown-toggle {
            width: auto;
            height: auto;
        }
        
        .top-link img {
            width: 20px;
            height: 20px;
            margin: auto;
        }
        
        .top-link img:nth-child(2) {
            display: none
        }
        
        .top-link.active img:nth-child(1) {
            display: none;
        }
        
        .top-link.active img:nth-child(2) {
            display: block;
        }
        
        .top-link:last-of-type {
            border-color: transparent
        }
        
        .btn-search {
            width: 30px;
            height: 30px;
            background: var(--main);
            display: inline-block;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
            border: none !important
        }
        
        header.topheader {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 10;
        }
        
        .body-content {
            min-height: 300px;
            position: relative;
            padding-bottom: 40px;
        }
        
        footer {
            background: var(--main);
            padding: 30px 0 50px 0;
        }
        
        footer .row {
            justify-content: space-between;
        }
        
        footer .footer-logo img {
            width: auto;
            max-width: 100px;
            margin-bottom: 10px;
        }
        
        footer p {
            font-size: 12px;
            line-height: 21px;
            /* text-align: justify; */
            font-weight: 600;
            margin-bottom: 10px;
        }
        
        footer .soc-media {
            display: flex;
        }
        
        footer .soc-media a {
            display: block;
            margin: 0 5px;
        }
        
        footer .soc-media a:hover {
            transform: rotateY(360deg)translateY(-10px);
        }
        
        footer .soc-media a img {
            width: 30px;
            height: 30px;
        }
        
        footer ul li a {
            font-size: 13px;
            display: inline-block;
        }
        
        footer ul li a:hover {
            margin: 0 10px;
            color: #fff;
        }
        
        footer ul li {
            margin-bottom: 3px;
        }
        
        footer ul {
            margin-top: 110px;
            font-weight: 600;
            font-size: 13px;
            margin-bottom: 3px;
        }
        
        .subscription,
        .question-search {
            display: flex;
        }
        
        .question-search {
            z-index: 1;
        }
        
        .subscription input {
            width: 100%;
            width: 100%;
            height: 42px;
            border: 1px solid #fff;
            padding: 10px;
            margin: 10px 0 10px 0px;
            border-radius: 30px;
            margin-inline-end: -30px;
        }
        
        .subscription .btn-footer {
            color: #fff;
            background-image: linear-gradient( -13deg, #393939, #000000);
            padding: 12px 20px;
            width: 100px;
            border-radius: 20px;
            margin: 10px auto;
            display: block;
            font-size: 12px;
        }
        
        .question-search input {
            width: 100%;
            width: 100%;
            height: 60px;
            border: 1px solid #fff;
            padding: 10px;
            margin: 0px 0 0px 0px;
            border-radius: 10px;
            margin-inline-end: -30px;
        }
        
        .question-search .btn-footer {
            color: #fff;
            background-image: linear-gradient( -13deg, #393939, #000000);
            padding: 12px 20px;
            width: 100px;
            border-radius: 10px;
            display: block;
            font-size: 12px;
        }
        
        .question-search .btn-footer {
            width: 150px;
            font-size: 15px;
        }
        
        .question-search {
            box-shadow: 0 0 10px #A8A8A8;
            border-radius: 10px;
            margin-top: -50px;
            margin-bottom: 30px;
        }
        
        .copy-link {
            margin: 20px auto;
            width: 500px;
            background: rgba(0, 0, 0, .2);
            color: #000;
            border-radius: 30px;
            padding: 15px;
            text-align: center;
            display: block;
            max-width: 100%;
        }
        
        .dropdown-menu {
            font-size: 14px;
            color: #fff;
            list-style: none;
            background-color: #b1953a;
            background-clip: padding-box;
            border: 1px solid transparent;
            border-radius: 11px;
            box-shadow: 0 4px 3px #b1953a;
        }
        
        .top-button {
            background: #b1953a;
            text-align: center;
            padding: 11px;
            border-radius: 20px;
            width: 115px;
            margin-inline-start: 30px;
        }
        
        .top-cover {
            width: 100%;
            position: relative;
        }
        
        .top-cover .item>img {
            width: 100%;
            height: calc(100vh + 100px);
            filter: blur(3px);
        }
        
        .topheader .menu .nav-links>ul>li>a,
        .topheader .top-links .top-link {
            color: #fff;
        }
        
        .topheader .top-links .top-link::after {
            background: #b1953a;
            opacity: .4;
        }
        
        .topheader .logo img.logo1 {
            display: none;
        }
        
        .topheader .logo img.logo2 {
            display: block;
        }
        
        .topheader .menu-content {
            border: none;
        }
        
        .top-cover .item {
            position: relative;
        }
        
        .top-cover .item .item-abs {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            display: flex;
            align-items: center;
            padding: 100px 10%;
            color: #fff;
        }
        
        .top-cover .item .item-abs h5 {
            width: 50%;
            max-width: 100%;
            font-size: 44px;
            font-weight: 600;
            line-height: 72px;
        }
        
        .top-cover {
            position: relative;
        }
        
        .top-cover .top-info {
            position: absolute;
            bottom: 0;
            width: 75%;
            padding-inline-start: 10%;
            z-index: 1;
            background: #fff;
            border-radius: 20px 0 0 0;
            display: flex;
            border-bottom: 1px solid #eee;
        }
        
        .top-cover .top-info>div {
            flex-basis: 25%;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative
        }
        
        .top-cover .top-info>div::after {
            width: 1px;
            background: #eee;
            height: 30px;
            left: 0;
            top: 30px;
            content: "";
            position: absolute;
        }
        
        .top-cover .top-info>div:last-of-type:after {
            display: none;
        }
        
        .top-cover .top-info>div a {
            background: var(--main);
            color: #fff;
            width: 100%;
            height: 100%;
            display: flex;
            /* flex-direction: column; */
            justify-content: center;
            padding: 10%;
            align-items: center;
            border-radius: 20px 0 0 0;
        }
        
        .top-cover .top-info>div a i {
            margin: 10px;
        }
        
        .top-cover .owl-nav {
            position: absolute;
            bottom: 20%;
            width: 100%;
            padding: 7px 10%;
            display: flex;
        }
        
        .top-cover .owl-prev,
        .top-cover .owl-next {
            width: 40px;
            height: 40px;
            background: #333;
            border: 1px solid #fff;
            margin: 10px;
            position: relative;
            border-radius: 50%;
        }
        
        .top-cover .owl-prev::before {
            content: "";
            width: 33px;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
        }
        
        .top-cover .owl-prev::after {
            content: "";
            width: 9px;
            height: 9px;
            /* background: #fff; */
            position: absolute;
            right: -14px;
            top: calc(50% - 4px);
            border: 1px solid #fff;
            transform: rotate(140deg);
            border-right: 0;
            border-bottom: 0;
        }
        
        .top-cover .owl-next {
            background: rgba(177, 149, 58, .4);
            border: 1px solid var(--main);
        }
        
        .top-cover .owl-next::before {
            content: "";
            width: 33px;
            height: 1px;
            background: var(--main);
            position: absolute;
            right: 50%;
            top: 50%;
        }
        
        .top-cover .owl-next::after {
            content: "";
            width: 9px;
            height: 9px;
            /* background: #fff; */
            position: absolute;
            left: -14px;
            top: calc(50% - 4px);
            border: 1px solid var(--main);
            transform: rotate(140deg);
            border-left: 0;
            border-top: 0;
        }
        
        .top-cover .owl-dots {
            position: absolute;
            left: 10%;
            bottom: 40px;
            display: flex;
        }
        
        .top-cover .owl-dot {
            width: 15px;
            height: 10px;
            border-radius: 5px;
            background: #eee;
            margin: 4px;
            transition: all .5s ease-in-out;
        }
        
        .top-cover .owl-dot.active {
            background: var(--main);
            width: 40px;
        }
        
        .top-info p {
            color: #9B9B9B;
            font-size: 12px;
            padding-inline-start: 20px;
        }
        
        .top-info h6 {
            color: #000;
            font-weight: 600;
            font-size: 12px;
            margin-top: 6px;
            padding-inline-start: 20px;
        }
        
        .box {
            margin-bottom: 30px;
            display: block;
            position: relative;
        }
        
        .box img {
            width: 100%;
            height: 100%;
            transition: all .4s ease-in-out;
        }
        
        .box .box-abs {
            top: 5%;
            right: 5%;
            background: rgb(38 38 38 / .4);
            color: #fff;
            position: absolute;
            min-width: 186px;
            min-height: 100px;
            font-size: 20px;
            padding: 10px;
        }
        
        .box .box-abs p:last-child {
            font-weight: 600;
        }
        
        .box .imgs {
            width: 100%;
            height: 320px;
            overflow: hidden;
        }
        
        .box .imgs img:hover {
            transform: scale(1.1);
        }
        
        .box h6 {
            font-size: 15px;
            font-weight: 600;
            padding-top: 15px;
        }
        
        .about-img {
            height: 450px;
            width: 100%;
            margin-bottom: 10px;
        }
        
        .about-img.img-s {
            height: 220px;
            width: 100%;
        }
        
        .page-title {
            text-align: center;
            margin: 20px auto;
        }
        
        .page-title h5 {
            color: var(--gray);
            font-weight: 600;
            font-size: 13px;
        }
        
        .page-title h4 {
            color: #000;
            font-weight: 600;
            font-size: 23px;
            margin: 14px 0;
            text-shadow: 0 0;
        }
        
        .page-title p,
        .question-page .page-title+p,
        .card p {
            color: #777777;
            font-weight: 600;
            font-size: 12px;
            line-height: 21px;
        }
        
        .about-p {
            text-align: center;
            line-height: 25px;
            font-weight: 600;
            color: var(--gray);
            font-size: 13px;
            margin-bottom: 30px;
        }
        
        .about-box {
            background: #FAFAFA;
            text-align: center;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 10px #e2e2e2;
            margin-bottom: 20px;
            height: 240px;
        }
        
        .about-box img {
            max-height: 70px;
        }
        
        .about-box h5 {
            font-size: 15px;
            margin: 10px;
            font-weight: 600;
            text-shadow: 0 0;
        }
        
        .about-box p {
            height: 100px;
            color: #999;
            overflow: hidden;
            font-size: 12px;
            text-align: justify;
        }
        
        .joinus-imgs {
            display: flex;
            perspective: 600px;
        }
        
        .joinus-imgs img {
            width: 300px;
            width: 300px;
            height: 450px;
            border: 6px solid #fff;
        }
        
        .joinus-imgs .img-filter:first-child {
            transform: rotateY(-17deg);
            z-index: 5;
        }
        
        .joinus-imgs .img-filter:nth-child(2) {
            transform: rotateY(-11deg)translateY(39px);
            margin-left: -59px;
            margin-right: -30px;
            z-index: 3;
        }
        
        .joinus-imgs .img-filter:nth-child(3) {
            z-index: 2;
            transform: rotateY(-14deg);
            margin-left: -123px;
        }
        
        .joinus-imgs .img-filter:nth-child(4) {
            z-index: 1;
            transform: rotateY(17deg);
            margin-top: 42px;
        }
        
        .contact-page .about-box {
            height: 179px;
            text-align: center;
            box-shadow: 0px 9px 7px #e0dfdf;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .contact-page .about-box p {
            text-align: center;
            height: auto;
        }
        
        .contact-page .about-box img {
            height: 41px;
            max-width: 98px;
        }
        
        .plr-50 {
            padding-left: 50px;
            padding-right: 50px;
        }
        
        #map {
            border-radius: 30px 30px 0 0;
        }
        
        .before-q {
            background: var(--main);
            margin-bottom: 30px;
            position: relative;
            z-index: -1;
        }
        
        .before-q::after {
            width: 250px;
            height: 124px;
            left: 10%;
            position: absolute;
            bottom: 0;
            background: url(../imgs/Repeat\ Grid\ 1.png);
            content: "";
            background-size: 100% 100%;
        }
        
        .before-q::before {
            width: 200px;
            height: 110px;
            top: 0%;
            position: absolute;
            right: 10%;
            background: url(../imgs/Repeat\ Grid\ 1.png);
            content: "";
            background-size: 100% 100%;
            transform: rotate(180deg);
        }
        
        .before-q .page-title h4,
        .before-q .page-title p {
            color: #fff;
        }
        
        .profile-img {
            position: relative;
            width: 100%;
            height: 320px;
            margin-bottom: 20px;
            background-color: #eee;
        }
        
        .profile-img::before {
            width: 90%;
            height: 90%;
            border: 2px solid #fff;
            position: absolute;
            left: 5%;
            top: 5%;
            content: ""
        }
        
        .profile-img img {
            width: 100%;
            height: 100%;
        }
        
        .logout {
            width: 100%;
            border: 1px solid #f00;
            color: #f00;
            display: block;
            padding: 14px;
            text-align: center;
            font-weight: 600;
        }
        
        .nav .nav-item .nav-link {
            background: #F3F3F3;
            padding: 15px 10px;
            width: 150px;
            border-radius: 0;
            margin: 5px;
            text-align: center;
            font-weight: 600;
        }
        
        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            background: #b1953a;
            color: #fff;
        }
        
        .profile-info h3 {
            color: #404040;
            font-size: 23px;
            font-weight: 600;
        }
        
        .profile-info p {
            color: #909090;
        }
        
        .profile-form label {
            color: #8D8D8D;
            font-weight: normal;
        }
        
        .profile-form .form-control {
            color: #000;
            border-color: #000000;
            padding-inline-start: 0;
            padding-inline-end: 0;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
            margin: 0 4px;
        }
        
        input:checked+.span-check {
            background-color: #E3E5E8;
        }
        
        .switch .span-check {
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #E3E5E8;
            -webkit-transition: .4s;
            transition: .4s;
            width: 100%;
            height: 100%;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 4px;
            color: #fff;
        }
        
        .span-check.round {
            border-radius: 34px;
        }
        
        .span-check:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 4px;
            bottom: 4px;
            background-color: #727C8E;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked+.span-check::before {
            background-color: var(--main);
        }
        
        input:checked+.span-check:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        .span-check.round:before {
            border-radius: 50%;
        }
        
        .more-setings h5 {
            color: #404040;
            font-size: 16px;
            font-weight: 600;
        }
        
        .more-setings h6 {
            color: #707070;
            font-size: 14px;
            margin: 0;
        }
        
        .more-setings .setings {
            background: #F5F5F5;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            color: #707070;
            align-items: center;
        }
        
        .modal-footer {
            justify-content: center;
        }
        
        .modal-content {
            border: navajowhite;
            border-radius: 0px;
            overflow: hidden;
        }
        
        .modal-content button.close {
            position: absolute;
            left: 10px;
        }
        
        .modal-content .modal-title {
            font-size: 15px;
            font-weight: 600;
        }
        
        .modal-header {
            background: var(--main);
            justify-content: center;
            position: relative;
            color: #fff;
            padding: 10px;
        }
        
        .modal-footer {
            border: none;
        }
        
        .order-item {
            box-shadow: 0 0 5px #E8E8E8;
            border-inline-start: 5px solid var(--main);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            padding: 0 10px;
            margin-bottom: 20px;
        }
        
        .order-item div {
            flex: 1;
            padding: 0 10px;
            margin: 10px;
            border-inline-start: 1px solid #eee;
            color: #000;
        }
        
        .order-item div p:nth-child(2) {
            color: #959595;
        }
        
        .order-item h6 {
            width: 86px;
            text-align: center;
            font-size: 14px;
            color: #959595;
        }
        
        .order-details {
            box-shadow: 0 0 5px #E8E8E8;
            border-inline-start: 5px solid var(--main);
            border-radius: 10px;
            padding: 15px;
        }
        
        .order-details>div {
            display: flex;
            flex-wrap: wrap;
        }
        
        .order-details>div h6 {
            flex-basis: 50%;
            flex-basis: 50%;
            font-weight: 600;
            font-size: 12px;
            color: #8F8F8F;
            margin: 7px 0;
            padding: 0 7px;
        }
        
        .order-details>div.more-details h6 span {
            display: block;
            margin-bottom: 8px;
        }
        
        .order-details>div.more-details h6 span:last-child {
            color: #000;
        }
        
        .order-details>div:first-child h6 {
            color: #000;
        }
        
        .bg-color {
            background: rgba(177, 149, 58, .2);
            align-items: center;
        }
        
        .show-order-details {
            display: none;
        }
        
        .cart-table {
            width: 100%;
        }
        
        .cart-table th {
            background: #f5f5f5;
        }
        
        .cart-table img {
            width: 50px;
            height: 50px;
        }
        
        .table-bordered th,
        .table-bordered td {
            text-align: center;
            vertical-align: middle;
            border-color: #E6E6E6;
            font-weight: 600;
            font-size: 12px;
        }
        
        .table-bordered td div {
            text-align: start;
        }
        
        .table-bordered h6 {
            font-weight: 600;
            font-size: 12px;
        }
        
        .table-bordered h5 {
            color: #000;
            font-weight: 600;
            font-size: 12px;
        }
        
        .table thead th {
            vertical-align: bottom;
            border-bottom: none;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #373737
        }
        
        td {
            color: #999999;
        }
        
        .code-form {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .code-form input {
            border: 1px solid #ccc;
            padding: 15px;
            flex: 1;
        }
        
        .code-form button {
            width: 150px;
            color: #fff;
            background: var(--main);
            padding: 15px;
            border: 1px solid var(--main);
        }
        
        .bg-gray h6,
        .bg-gray label {
            font-size: 12px;
        }
        
        .bill-form .col-md-6:nth-child(odd),
        .bill-form .form-control,
        .bill-form label {
            font-size: 12px;
        }
        
        .bill-form label {
            color: #C7C7C7;
            margin-top: 10px;
            font-size: 12px;
        }
        
        .bill-card {
            background: #f5f5f5;
            padding: 15px;
            margin-bottom: 20px;
        }
        
        .bill-card li {
            display: flex;
            align-items: center;
            padding: 18px 0;
            border-bottom: 1px solid #bbb;
        }
        
        .bill-card li:last-child {
            border: none;
        }
        
        .bill-card li h6:last-child {
            font-weight: 600;
            color: #4F4F4F;
            font-size: 12px;
            margin: 0;
        }
        
        .bill-card li h6:first-child {
            flex-basis: 20%;
            font-weight: 600;
            color: #909090;
            font-size: 12px;
            margin: 0;
        }
        
        .product-box {
            margin-bottom: 30px;
        }
        
        .product-box .product-img {
            display: block;
            width: 100%;
            height: 325px;
            overflow: hidden;
            position: relative;
        }
        
        .product-box .product-img .product-abs {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #E4E4E4;
            background: rgba(0, 0, 0, .3);
            padding: 20px;
        }
        
        .product-box .product-img .product-abs h5 {
            font-weight: 600;
        }
        
        .product-box .product-img img {
            width: 100%;
            height: 100%;
            transition: all .5s ease-in-out;
        }
        
        .product-box:hover .product-img img {
            transform: scale(1.1);
        }
        
        .product-info {
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            padding: 10px 0;
            align-items: center;
        }
        
        .product-info h6 {
            color: #464646;
            font-weight: 600;
            font-size: 16px;
            margin: 0;
        }
        
        .product-info .d-flex {
            align-items: center;
        }
        
        .icon {
            font-size: 20px;
            display: block;
            padding: 0 10px;
            width: 40px;
            text-align: center;
        }
        
        .product-info .icon {
            border-left: 1px solid #f5f5f5;
        }
        
        .product-info .icon:last-child {
            border: none;
            text-align: end;
            padding-inline-end: 0;
            width: 17px;
        }
        
        .like_active {
            color: #f00;
        }
        
        .price {
            color: var(--main);
            display: flex;
            margin: 10px 0;
            align-items: center;
        }
        
        .price h4 {
            font-size: 19px;
            color: #E7CA13;
            font-weight: 600;
            margin-left: 10px;
        }
        
        .old-price {
            color: var(--gray) !important;
            font-size: 15px !important;
            text-decoration: line-through;
        }
        
        .product-cover img {
            width: 100%;
            height: 400px;
            margin-bottom: 20px;
            background-color: #eee;
        }
        
        .rules li {
            margin-bottom: 20px;
        }
        
        .rules li h5 {
            font-size: 13px;
            font-weight: 600;
            margin: 0;
        }
        
        .rules li h5 i {
            background: var(--main);
            color: var(--white);
            width: 30px;
            height: 30px;
            font-style: normal;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            padding: 0;
            line-height: 30px;
            border-radius: 3px;
        }
        
        .rules li p {
            color: #999999;
            padding-inline-start: 35px;
            text-align: justify;
        }
        
        .privacy li p {
            padding-inline-start: 0;
        }
        
        .search-product {
            margin-top: 10px;
            margin-bottom: 25px;
        }
        
        .search-product .form-control {
            background: #f5f5f5;
            padding: 5px 10px;
            height: 42px !important;
        }
        
        .product-additions li {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .product-additions li label {
            flex-basis: 30%;
        }
        
        .product-additions li label span {
            padding: 10px;
            font-size: 12px;
        }
        
        .product-additions li audio {
            width: 450px;
            border-radius: 0;
            height: 40px;
            background: #f1f3f4;
            max-width: 100%;
        }
        
        .whatsapp-div {
            background: #3FBC25;
            width: 50px;
            height: 50px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin: 10px 10%; */
            left: 5%;
            position: fixed;
            bottom: 30px;
            z-index: 10;
        }
        
        .header-search {
            position: absolute;
            left: 6px;
            width: 0;
            display: flex;
            flex-direction: row-reverse;
            top: 0px;
            background: #fff;
            border-radius: 10px;
            transition: all .5s ease-in-out;
            z-index: 10;
            overflow: hidden;
        }
        
        .header-search.open-div {
            width: 250px;
        }
        
        .header-search input {
            width: 100%;
            padding: 5px;
            border: navajowhite;
            border-radius: 10px;
        }
        
        .header-search.close-div {
            width: 0;
            overflow: hidden;
        }
        
        .images-upload-block {
            display: block;
            vertical-align: top;
            position: relative;
            margin: 15px auto;
            width: 140px;
            height: 120px;
        }
        
        .upload-img {
            display: inline-block;
            width: 100%;
            height: 100%;
            /* padding: 10px; */
            background: #fff;
            border: none;
            text-align: center;
            position: relative;
        }
        
        .upload-img input {
            position: absolute;
            opacity: 0;
            z-index: -1;
            display: none;
        }
        
        .uploaded-block img,
        .upload-img img {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
        
        .uploaded-block .close {
            position: absolute;
            top: 91%;
            background: #FFF;
            color: #1f841f;
            font-size: 18px;
            width: 25px;
            height: 25px;
            text-align: center;
            opacity: 1;
            left: -8px;
            right: unset;
            margin: auto;
            padding: 0;
            box-shadow: 0 0 4px #ccc;
            text-align: center;
            line-height: 25px;
            border-radius: 2px;
        }
        
        .uploaded-block {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
        
        .images-upload-block::before {
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            left: -10px;
            top: -10px;
            border: 2px dashed #fff;
            content: "";
            position: absolute;
        }
        
        .profile-page .images-upload-block::before {
            border: 2px dashed #b1953a;
        }
        
        .upload-img i {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 64px;
            font-style: normal;
            background: rgba(255, 255, 255, .5);
            color: #000;
            position: absolute
        }
        
        .share-div {
            display: none;
        }
        
        .share-div .icon {
            display: inline-block;
        }
        
        header::before {
            width: 155px;
            height: 200px;
            position: absolute;
            left: 0;
            background: url(../imgs/before.png);
            content: "";
            background-size: 100% 100%;
        }
        
        .body-content::after {
            width: 155px;
            height: 200px;
            position: absolute;
            bottom: 200px;
            right: 0;
            background: url(../imgs/after.png);
            content: "";
            background-size: 100% 100%;
        }
        
        @media(max-width: 767px) {
            .product-additions li {
                display: block;
                align-items: center;
                margin-bottom: 20px;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
            }
            header::before,
            .body-content::after {
                display: none
            }
            .about-img {
                height: 249px;
                width: 100%;
                margin-bottom: 10px;
                object-fit: cover;
            }
            .header-search {
                height: 46px;
                flex-direction: row;
            }
            .page-title.d-flex {
                flex-direction: column;
            }
            .product-cover img {
                height: 255px;
            }
            .page-title h4 {
                font-size: 19px;
            }
            .logout {
                width: 200px;
                color: #f00;
                display: block;
                padding: 7px;
                text-align: center;
                font-weight: 600;
                margin: 10px auto;
            }
            .top-cover .item>img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
            .top-links {
                display: flex;
                align-items: center;
            }
            .nav .nav-item .nav-link {
                padding: 8px 3px;
                width: auto;
                margin: 2px;
                font-size: 11px;
                min-width: 80px;
            }
            .profile-img {
                position: relative;
                width: 200px;
                height: 200px;
                margin-bottom: 20px;
                background-color: #eee;
                margin: 10px auto;
            }
            .top-cover .top-info {
                position: relative;
                bottom: 0;
                width: 100%;
                padding-inline-start: 0;
                z-index: 1;
                background: #fff;
                border-radius: 20px 0 0 0;
                display: block;
                border-bottom: 1px solid #eee;
            }
            .top-cover .top-info>div::after {
                width: 100%;
                background: #eee;
                height: 1px;
                bottom: 0;
                left: 0;
                content: "";
                position: absolute;
                top: unset;
            }
            .search-product .form-control {
                margin-bottom: 4px;
            }
            .pt-20 {
                padding-top: 5px !important;
            }
            .sec-padd {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            footer ul {
                margin-top: 20px;
            }
            .joinus-imgs img {
                width: 300px;
                width: 112px;
                height: 168px;
                border: 6px solid #fff;
            }
            .joinus-imgs .img-filter:nth-child(3) {
                margin-left: -34px;
            }
            .joinus-imgs .img-filter:nth-child(4) {
                z-index: 1;
                transform: rotateY(41deg);
                margin-top: 21px;
            }
            .top-cover .item .item-abs h5 {
                width: 100%;
                max-width: 100%;
                font-size: 16px;
                font-weight: 600;
                line-height: 31px;
            }
            .bill-card li h6:first-child {
                flex-basis: 36%;
            }
            .bill-card li {
                align-items: baseline;
            }
            .bill-form .form-control,
            .bill-form label {
                font-size: 12px;
                padding-inline-start: 15px;
                margin-inline-start: 0
            }
            .top-link.dropdown-toggle span {
                display: none
            }
            .menu .logo {
                width: 55px;
            }
            .logo img {
                width: auto;
                height: auto;
                max-height: 55px;
            }
            .menu .nav-links>ul {
                display: block;
                position: fixed;
                top: 0px;
                background-color: rgba(0, 0, 0, 0.9);
                width: 80%;
                right: 0px;
                z-index: 99;
                height: 100%;
                padding-top: 80px;
                transform-origin: right;
                transform: translateX(100%);
                transition: all 0.3s ease-in-out;
                text-align: start;
            }
            .menu .nav-links ul.nav-open {
                transform: translateX(0);
            }
            .menu .nav-links ul li {
                display: block;
                line-height: 45px !important;
                margin: 0;
                padding: 0 10px;
                text-align: start;
                font-size: 14px;
            }
            .menu .nav-links>ul>li.hide {
                display: block;
            }
            .menu .nav-links>ul>li>a {
                color: #fff;
                font-size: 12px;
            }
            .fixed-footer,
            .mob-collaps {
                display: block;
            }
        }
        /*Small Screen*/
        
        @media(min-width: 768px) and (max-width: 991px) {}
        /*Medium Screen*/
        
        @media(min-width: 992px)and (max-width: 1199px) {}
        /*Larger Screen*/
        /*============================ start loader================================== */
        
        .loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999999999;
            background: rgba(0, 0, 0, .5);
            overflow: hidden;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            justify-content: center;
        }
        
        .loader img {
            animation: logoeffect2 5s infinite forwards ease-out;
            position: relative;
            width: 100px;
        }
        
        @keyframes logoeffect2 {
            0% {
                top: 0;
            }
            20% {
                top: -15px;
                filter: grayscale(70%);
                transform: rotateY(180deg) perspective(600px) scale(1.1);
            }
            40% {
                top: 0;
                filter: grayscale(0%);
                transform: rotateY(0deg) perspective(600px) scale(1);
            }
            100% {
                top: 0;
                transform: rotateY(0deg) perspective(600px) scale(1);
            }
        }
        /*============================ end loader================================== */
        
         ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            border-radius: 10px;
        }
        
         ::-webkit-scrollbar-track {
            box-shadow: none;
            border-radius: 10px;
        }
        
         ::-webkit-scrollbar-thumb {
            background-color: var(--main);
            border-radius: 10px;
            outline: none;
        }
        
        @media (min-width: 1200px) {
            .container {
                max-width: 1000px;
            }
        }
        
        @media (min-width: 576px) {
            .modal-dialog {
                max-width: 500px;
                margin: 10% auto;
            }
        }