 body {
     text-align: left;
     direction: ltr;
 }
 
 .service-box .serv-info .rating,
 .order-details-box .btn-close,
 .form-group .form-abs,
 .order-box .btn-main,
 .order-details-box .rating {
     left: unset;
     right: 0;
 }
 
 .mr-10 {
     margin-left: 10px !important;
 }
 
 .ml-10 {
     margin-right: 10px !important;
 }
 
 .about-img img:first-child {
     transform: translate(34px, 46px);
     z-index: 4;
 }
 
 .order-box .order-info {
     border-right: none;
     border-left: 1px solid #ccc;
 }
 
 .top-cover .top-info>div a,
 .top-cover .top-info {
     border-radius: 0px 20px 0 0;
 }
 
 .text-right {
     text-align: start !important;
 }
 
 .btn-main::before {
     left: unset;
     right: -20px;
     transform: rotate(225deg);
 }
 
 .btn-main::after {
     left: unset;
     right: -20px;
 }
 
 .top-cover .item .item-abs {
     direction: ltr;
 }
 
 .select2-container--default .select2-selection--single .select2-selection__arrow {
     left: unset;
     right: 0;
 }
 
 .header-search {
     left: unset;
     right: 6px;
 }
 
 header::before {
     left: unset;
     right: 0;
     transform: rotate(180deg);
 }